<p>control-flow works!</p>

<table>
    <tr>
        <td>
            @if(isParaVisible === true){
            <p>This is Sample Para</p>
            }@else {
            <small>Small tag</small>
            <h3>This text is hidden</h3>
            }
        </td>

        <td>
            <button (click)="showP()">Show P</button>
        </td>
        <td>
            <button (click)="hideP()">Hide P</button>
        </td>
    </tr>
    <tr>
        <td>
            @if (startingMonthName == 'jan') {
            <span>January</span>
            } @else if (startingMonthName == 'feb') {
            <span>February</span>
            } @else if (startingMonthName == 'mar') {
            <span>March</span>
            } @else if (startingMonthName == 'apr') {
            <span>April</span>
            } @else {
            <span>No Match Found</span>
            }
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" [(ngModel)]="startingMonthName">
        </td>
    </tr>
    <tr>
        <td>
            <ul>
                @for (item of cityList; track $index) {
                <li>{{item}}</li>
                }
            </ul>
        </td>
        <td>
            <select name="" id="">
                @for (item of cityList; track $index) {
                <option>{{item}}</option>
                }
            </select>
        </td>
    </tr>
</table>

<br>

<table>
    <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>City</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @for (item of studentList; track $index) {
        <tr>
            <td>{{$index+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.city}}</td>
            <td>
                @if (item.isActive == true) {
                    <h6>Active</h6>
                }@else {
                    <h6>Inactive</h6>
                }
            </td>
        </tr>
        }
    </tbody>
</table>